@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

style image {
  width: 50%;
}

body {
  background-color: #00ff00;
  text-align: center;
  font-family: Agbalumo;
}

header {
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-bottom: 0.5rem solid #784c84;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

h1 {
  color: white;
}

.logo h1 {
  padding: 0;
  margin: 0;
}

.buttons {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

nav a {
  color: white;
  margin: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #44478b;
  text-transform: uppercase;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

p:hover {
  background-color: #f3ae8c;
  display: inline;
  color: blueviolet;
  font-weight: 700;
  padding: 1rem;
  border-radius: 100px;
}
